[*.cs]

# CA1873: 避免进行可能成本高昂的日志记录
dotnet_diagnostic.CA1873.severity = silent

# CA2253: 已命名占位符不应是数值
dotnet_diagnostic.CA2253.severity = silent

# CA2254: 模板应为静态表达式
dotnet_diagnostic.CA2254.severity = silent
